
 
 
 
 .container{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;

 }

 .container2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 350px 0px 350px;

}

 img {
     height: 250px;
     width: 250px;
 }

 h1, h3, p{
    text-align: center;
 }